<div class="modal-header">
    <h3 class="modal-title">Location</h3>
</div>
<div class="modal-body">
    <!--<div class="form-group">
        <label>Site</label>
        <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="profile.type">
            <option value="">Please Select</option>
        </select>
    </div>-->
    <div class="form-group">
        <label>Filter by</label>
        <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="selectedfilter.by">
            <option value="">Please Select</option>
            <option ng-repeat="obj in objmodel.FilterOption" value="{{obj.OptionName}}">{{obj.OptionName}}</option>
        </select>
    </div>
    <div class="form-group" ng-if="selectedfilter.by != ''">
        <label>{{selectedfilter.by}}</label>
        <select class="form-control" style="padding-left:0px; padding-right:0px;" ng-model="selectedfilter.option">
            <option value="">Please Select</option>
            <option ng-if="selectedfilter.by == 'Location'" ng-repeat="obj in filteroptions.locations">{{obj}}</option>
            <option ng-if="selectedfilter.by == 'Zone'" ng-repeat="obj in filteroptions.zone">{{obj}}</option>
            
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="saveSettings()">Ok</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>